body{
    background-image: url("../img/Fondo.png");
    background-position: center;
    background-size: 1980px 1080px;
}

.navbar{
    background-image: url("../img/Icon_nav_bar.png");
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: #FF9C0A;
    font-weight: bold;
}

.navbar-nav{
    margin-left: 20px;
}

audio{
    width: 200px;
    height: 40px;
    margin-right: 10px;
    padding-top: 10px;

}

#dmain{
    width: 1024px;
    height: 576px;
    border-style: solid;
    border-color: green;
}

.zoom{
    transition: transform .2s;
    overflow: hidden;
}
.zoom:hover {
    transform: scale(1.3);
    cursor: pointer;
    z-index: 1;
}

.lcdgif{
    height: 70px;
}

.ftext{
    margin-bottom: -4px;
    font-style: italic;
    font-size: small;
    color: crimson;
}

@media (max-width: 992px) {
    .navbar{
       background-image: url(../img/Icon_nav_bar_2.png);
     }
   
   .shinka1{
    content: url(../img/lcd_11.gif);
   }

   .shinka2{
    content: url(../img/lcd_03.gif);
   }

   .shinka3{
    content: url(../img/lcd_04.gif);
   }

   #dmain{
    content: url(../img/digimon_main_3.jpg);
   }
}